# Python collections exercises

```txt
       video:  3
       title:  Python collections exercises
      author:  César Freire <cesar.freire@training.rumos.pt>
   reviewers:  Ana Felizardo, Paulo Martins
affiliations:  Rumos Formação
```

## Exercises

* [NIF Validator](#exercise-nif-validator)

### Exercise: NIF validator
https://en.wikipedia.org/wiki/Luhn_algorithm

https://pt.wikipedia.org/wiki/N%C3%BAmero_de_identifica%C3%A7%C3%A3o_fiscal

In [ ]:
nif = '500366039'  # NIPC RUMOS SA

table = []
for x in range(9):
    table.append( (9-x) * int(nif[x]) )

table

In [ ]:
sum(table) % 11

In [ ]:
table = [(9-x) * int(nif[x]) for x in range(9) ]
sum(table) % 11

In [ ]:
sum([ (9-x) * int(nif[x]) for x in range(9) ] ) % 11

In [ ]:
# v2
table = []
for position, digit in enumerate(nif):
    # print(position, digit)
    table.append((9-position) * int(digit))

table

In [ ]:
table = [ (9-position) * int(digit) for position, digit in enumerate(nif) ]
table

### Exercise: Exchange rates converter

In [ ]:
# await on jupyterLite
coin = input('Currency:')

In [ ]:
coin = coin.upper()  # convert into upper case
if coin not in currencies.keys():
  print('Coin not in database!')
else:
  print(coin)

In [ ]:
value = input('Value:')

In [ ]:
try:
  value = float(value)
  print(value)
except ValueError:
  print('Only numbers. DUDE!')

#### Delist operator (*)
_optional explanation_

In [ ]:
l = [[1,2,3]]
print(*l)

In [ ]:
try:
  print(f'{value} {coin} -> {currencies[coin] * value:10.4f} EUR')
except KeyError:
  print('Currency not in database')
  print('Available: ', end='')
  print(*list(currencies.keys()), sep=' | ')  # (*) delist operator
except ValueError:
    print('Value must be float or int')
except:
    print('Algo correu muito mal')  # Not a best pratice